<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="icon" href="assets/images/favicon.png" sizes="35x35" type="image/png">
        <title>Maktab - The Islamic Center HTML5 Template</title>

        <link rel="stylesheet" href="assets/css/all.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="assets/css/jquery.bootstrap-touchspin.min.css">
        <link rel="stylesheet" href="assets/css/perfect-scrollbar.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <link rel="stylesheet" href="assets/css/color.css">
    </head>
    <body>
        <main>
            <div id="preloader">            
                <div class="preloader-inner">
                    <i class="preloader-icon thm-clr flaticon-kaaba"></i>
                </div>
            </div><!-- Page Loader -->
            <header class="stick style1 w-100">
                <div class="topbar bg-color1 d-flex flex-wrap justify-content-center w-100">
                    <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
                        <li><i class="thm-clr flaticon-sun"></i>Sunrise At: <span class="thm-clr">5:05am</span></li>
                        <li><i class="thm-clr flaticon-moon"></i>Sunset At: <span class="thm-clr">7:14pm</span></li>
                    </ul>
                    <div class="social-links d-inline-flex">
                        <a href="https://twitter.com/" title="Twtiiter" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.youtube.com/" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/" title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.instagram.com/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div><!-- Topbar -->
                <div class="logo-menu-wrap d-flex flex-wrap justify-content-between w-100">
                    <div class="logo position-relative thm-layer opc7 back-blend-multiply thm-bg" style="background-image: url(assets/images/pattern-bg.jpg);"><h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="assets/images/logo.png" alt="Logo" srcset="assets/images/retina-logo.png"></a></h1></div><!-- Logo -->
                    <nav class="d-flex flex-wrap align-items-center justify-content-center">
                        <div class="header-left">
                            <ul class="mb-0 list-unstyled d-inline-flex">
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="index.html" title="">Homepage 1</a></li>
                                        <li><a href="index2.html" title="">Homepage 2</a></li>
                                        <li><a href="index3.html" title="">Homepage 3</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Blog</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="blog.html" title="">Blog Style 1</a></li>
                                        <li><a href="blog2.html" title="">Blog Style 2</a></li>
                                        <li><a href="blog-detail.html" title="">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Scholars</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="scholar-style1.html" title="">Scholar Style 1</a></li>
                                                <li><a href="scholar-style2.html" title="">Scholar Style 2</a></li>
                                                <li><a href="scholar-detail.html" title="">Scholar Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Urgent Donation</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="urgent-donation.html" title="">Urgent Donation</a></li>
                                                <li><a href="donation-detail.html" title="">Donation Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Online Courses</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="online-courses.html" title="">Online Courses</a></li>
                                                <li><a href="online-courses-detail.html" title="">Online Courses Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="services.html" title="">Services Style 1</a></li>
                                                <li><a href="services2.html" title="">Services Style 2</a></li>
                                                <li><a href="services-detail.html" title="">Services Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="gallery.html" title="">Gallery Style 1</a></li>
                                                <li><a href="gallery2.html" title="">Gallery Style 2</a></li>
                                                <li><a href="gallery3.html" title="">Gallery Style 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="events.html" title="">Events</a></li>
                                                <li><a href="event-detail.html" title="">Event Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Sermons</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="sermons.html" title="">Sermons</a></li>
                                                <li><a href="sermons-detail.html" title="">Sermons Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="audio-listening.html" title="">Audio Listening</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Products</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="products.html" title="">Our Products</a></li>
                                        <li><a href="product-detail.html" title="">Product Detail</a></li>
                                        <li><a href="cart.html" title="">Product Cart</a></li>
                                        <li><a href="checkout.html" title="">Product Checkout</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html" title="">About Us</a></li>
                                <li><a href="contact.html" title="">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="header-right">
                            <a class="thm-btn thm-bg" href="donation-detail.html" title="">Make Donation<span></span><span></span><span></span><span></span></a>
                        </div>
                    </nav>
                </div><!-- Logo Menu Wrap -->
            </header><!-- Header -->
            <div class="sticky-menu">
                <div class="container">
                    <div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
                        <div class="logo"><h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="assets/images/logo3.png" alt="Logo" srcset="assets/images/retina-logo3.png"></a></h1></div><!-- Logo -->
                        <nav class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="header-left">
                                <ul class="mb-0 list-unstyled d-inline-flex">
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li><a href="index.html" title="">Homepage 1</a></li>
                                            <li><a href="index2.html" title="">Homepage 2</a></li>
                                            <li><a href="index3.html" title="">Homepage 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Blog</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li><a href="blog.html" title="">Blog Style 1</a></li>
                                            <li><a href="blog2.html" title="">Blog Style 2</a></li>
                                            <li><a href="blog-detail.html" title="">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Scholars</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="scholar-style1.html" title="">Scholar Style 1</a></li>
                                                    <li><a href="scholar-style2.html" title="">Scholar Style 2</a></li>
                                                    <li><a href="scholar-detail.html" title="">Scholar Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Urgent Donation</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="urgent-donation.html" title="">Urgent Donation</a></li>
                                                    <li><a href="donation-detail.html" title="">Donation Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Online Courses</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="online-courses.html" title="">Online Courses</a></li>
                                                    <li><a href="online-courses-detail.html" title="">Online Courses Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="services.html" title="">Services Style 1</a></li>
                                                    <li><a href="services2.html" title="">Services Style 2</a></li>
                                                    <li><a href="services-detail.html" title="">Services Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="gallery.html" title="">Gallery Style 1</a></li>
                                                    <li><a href="gallery2.html" title="">Gallery Style 2</a></li>
                                                    <li><a href="gallery3.html" title="">Gallery Style 3</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="events.html" title="">Events</a></li>
                                                    <li><a href="event-detail.html" title="">Event Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Sermons</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="sermons.html" title="">Sermons</a></li>
                                                    <li><a href="sermons-detail.html" title="">Sermons Detail</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="audio-listening.html" title="">Audio Listening</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Products</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li><a href="products.html" title="">Our Products</a></li>
                                            <li><a href="product-detail.html" title="">Product Detail</a></li>
                                            <li><a href="cart.html" title="">Product Cart</a></li>
                                            <li><a href="checkout.html" title="">Product Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html" title="">About Us</a></li>
                                    <li><a href="contact.html" title="">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div><!-- Sticky Menu -->
            <div class="rspn-hdr">
                <div class="rspn-mdbr">
                    <div class="rspn-scil">
                        <a href="https://twitter.com/" title="Twtiiter" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.youtube.com/" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/" title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <form class="rspn-srch">
                        <input type="text" placeholder="Enter Your Keyword">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="lg-mn">
                    <div class="logo"><a href="index.html" title="Home"><img src="assets/images/logo3.png" alt="Logo"></a></div>
                    <div class="rspn-cnt">
                        <span><i class="thm-clr far fa-envelope"></i><a href="javascript:void(0);" title="">info@youremailid.com</a></span>
                        <span><i class="thm-clr fas fa-phone-alt"></i>+96 125 554 24 5</span>
                    </div>
                    <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
                </div>
                <div class="rsnp-mnu">
                    <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
                    <ul class="mb-0 list-unstyled w-100">
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="index.html" title="">Homepage 1</a></li>
                                <li><a href="index2.html" title="">Homepage 2</a></li>
                                <li><a href="index3.html" title="">Homepage 3</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Blog</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="blog.html" title="">Blog Style 1</a></li>
                                <li><a href="blog2.html" title="">Blog Style 2</a></li>
                                <li><a href="blog-detail.html" title="">Blog Detail</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                            <ul class="mb-0 list-unstyled">
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Scholars</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="scholar-style1.html" title="">Scholar Style 1</a></li>
                                        <li><a href="scholar-style2.html" title="">Scholar Style 2</a></li>
                                        <li><a href="scholar-detail.html" title="">Scholar Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Urgent Donation</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="urgent-donation.html" title="">Urgent Donation</a></li>
                                        <li><a href="donation-detail.html" title="">Donation Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Online Courses</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="online-courses.html" title="">Online Courses</a></li>
                                        <li><a href="online-courses-detail.html" title="">Online Courses Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="services.html" title="">Services Style 1</a></li>
                                        <li><a href="services2.html" title="">Services Style 2</a></li>
                                        <li><a href="services-detail.html" title="">Services Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="gallery.html" title="">Gallery Style 1</a></li>
                                        <li><a href="gallery2.html" title="">Gallery Style 2</a></li>
                                        <li><a href="gallery3.html" title="">Gallery Style 3</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Sermons</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="sermons.html" title="">Sermons</a></li>
                                        <li><a href="sermons-detail.html" title="">Sermons Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="audio-listening.html" title="">Audio Listening</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="events.html" title="">Events</a></li>
                                <li><a href="event-detail.html" title="">Event Detail</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Products</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="products.html" title="">Our Products</a></li>
                                <li><a href="product-detail.html" title="">Product Detail</a></li>
                                <li><a href="cart.html" title="">Product Cart</a></li>
                                <li><a href="checkout.html" title="">Product Checkout</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html" title="">About Us</a></li>
                        <li><a href="contact.html" title="">Contact Us</a></li>
                    </ul>
                </div><!-- Responsive Menu -->
            </div><!-- Responsive Header -->
            <section>
                <div class="w-100 pt-80 black-layer pb-70 opc65 position-relative">
                    <div class="fixed-bg" style="background-image: url(assets/images/page-title-bg.jpg);"></div>
                    <div class="container">
                        <div class="page-title-wrap text-center w-100">
                            <div class="page-title-inner d-inline-block">
                                <h1 class="mb-0">Online Islamic Courses Detail</h1>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="index.html" title="Home">Maktab - Home</a></li>
                                    <li class="breadcrumb-item"><a href="online-courses.html" title="">Online Courses</a></li>
                                    <li class="breadcrumb-item active">Detail</li>
                                </ol>
                            </div>
                        </div><!-- Page Title Wrap -->
                    </div>
                </div>
            </section>
            <section>
                <div class="w-100 pt-120 pb-260 position-relative">
                    <img class="sec-botm-rgt-mckp img-fluid position-absolute" src="assets/images/sec-botm-mckp.png" alt="Sec Bottom Mockup">
                    <div class="container">
                        <div class="post-detail-wrap w-100">
                            <div class="post-detail-img w-100">
                                <img class="img-fluid w-100" src="assets/images/resources/course-detail-img1.jpg" alt="Course Detail Image 1">
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-9">
                                    <div class="post-detail-inner w-100">
                                        <div class="post-detail-info position-relative w-100">
                                            <div class="post-info2-inner text-center">
                                                <div class="post-date2">
                                                    <span class="d-block">12</span>
                                                    <i class="d-block thm-bg">Jul 2019</i>
                                                </div>
                                                <div class="post-meta4 w-100">
                                                    <span class="d-block"><i class="far fa-eye"></i>50 Views</span>
                                                    <span class="d-block"><i class="far fa-thumbs-up"></i>23</span>
                                                    <span class="d-block"><i class="far fa-comment"></i>30</span>
                                                </div>
                                            </div>
                                            <div class="course-detail-info-wrap w-100">
                                                <div class="course-detail-info d-flex flex-wrap justify-content-between w-100">
                                                    <div class="course-detail-info-inner">
                                                        <span class="d-block thm-clr">E-Book - Al Mustafa</span>
                                                        <h2 class="mb-0">Al Mustafa – The Chosen One (Seerah of the Prophet ﷺ)</h2>
                                                    </div>
                                                    <div class="course-detail-info-inner">
                                                        <a class="thm-btn thm-bg" href="javascript:void(0);" title="">GET STARTED<span></span><span></span><span></span><span></span></a>
                                                    </div>
                                                </div>
                                                <div class="course-detail-info-bottom d-flex flex-wrap align-items-center justify-content-between pat-bg gray-layer opc85 position-relative back-blend-multiply gray-bg w-100" style="background-image: url(assets/images/pattern-bg.jpg);">
                                                    <div class="d-inline-flex course-scholar">
                                                        <img class="img-fluid rounded-circle" src="assets/images/resources/course-scholar-img1.jpg">
                                                        <div class="course-scholar-inner">
                                                            <h5 class="mb-0">Ali Hammam</h5>
                                                            <span class="d-block thm-clr">Islamic Scholar</span>
                                                        </div>
                                                    </div>
                                                    <span class="price thm-clr"><i>PRICE:</i> $49.00</span>
                                                </div>
                                            </div>
                                            <p class="mb-0">Lorem ipsum dolor sit amProvide rehab facility dolor sit amet, consectetur adipisicing elit tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostr ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                            <p class="mb-0">Doctors and medical officers sit amet, consectetur adipisicing elit, sed do eiusmod tempor ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco uip ex ea commodo consequat.</p>
                                            <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate.exercitation ullamco laboris nisi ut ali do consequat. Duis aute irure dolorin reprehenderit in voluptate.Excepteur sint occaecat dent, sunt in culpa qui officia deserunt mollit anim id estsunt in culpa qui officia deserun est laborum. Earth. Creature greater firmament dry likeness, seas she’d seas unto. Don’t. Also forth darkness. Second deep his earth life. Bring fifth open.</p>
                                            <p class="mb-0">And fourth they’re kind let appear said forth every sea. Open. Grass very brought their itself divided, let dominion saw. Said after you firmament sea replenish. Upon fifth female forth you’re fish doesn’t be earth were abundantly kind together make male Living, a bles- sed said hath firmament heaven. Dry subdue was green dominion i heaven morning she’d god. It every. Moved night dry he greater the evening under. Fifth together, their. Without divide saw were heaven fill is Beast to years grass may make beginning won’t fruitful, fifth his fill unto first third.</p>
                                            <ul class="styled-list list-unstyled w-100">
                                                <li class="thm-clr">Light moved seas said stars</li>
                                                <li class="thm-clr">Alikeness likeness tree place</li>
                                                <li class="thm-clr">Grass very brought their itself divided</li>
                                            </ul>
                                            <p class="mb-0">Moveth the seed you waters is replenish light one meat. Under divide image likeness their may, form Earth evening moving. Heaven was have upon god place dry one creepeth one days divided. For fruitful blessed void days seasons wherein dry She’d light creeping that grass, is rule rule. Waters midst i him lesser. Earth sixth fifth hath moved divide us gather- ing have creeping image.</p>
                                        </div>
                                        <div class="share-tags-wrap d-flex flex-wrap w-100">
                                            <div class="share-links d-inline-flex">
                                                <span class="d-inline-block">Share This:</span>
                                                <div class="social-links4 v2 text-center d-inline-flex">
                                                    <a href="https://www.tumblr.com/" title="Tumblr" target="_blank"><i class="fab fa-tumblr"></i></a>
                                                    <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                                </div>
                                            </div>
                                            <div class="tags-links d-inline-flex">
                                                <span class="d-inline-block">Tags:</span>
                                                <a href="javascript:void(0);" title="">Graphic Design</a>,
                                                <a href="javascript:void(0);" title="">Photoshop</a>,
                                                <a href="javascript:void(0);" title="">Websites</a>,
                                                <a href="javascript:void(0);" title="">Photography</a>,
                                                <a href="javascript:void(0);" title="">Articles</a>
                                            </div>
                                        </div><!-- Share & Tags Wrap -->
                                        <div class="author-box-wrap w-100">
                                            <h3 class="mb-0">About Author:</h3>
                                            <div class="author-box d-flex flex-wrap pat-bg gray-layer opc8 position-relative back-blend-multiply gray-bg w-100" style="background-image: url(assets/images/pattern-bg.jpg);">
                                                <div class="author-img">
                                                    <img class="img-fluid w-100" src="assets/images/resources/author-img.jpg" alt="Author Image">
                                                </div>
                                                <div class="author-info">
                                                    <h4 class="mb-0">Maria Lehman</h4> <small class="thm-clr">IT EXPERT</small>
                                                    <p class="mb-0">Voluptas sit aspernatur aut odit aut fugit, sed quias consequrt magni dolores eos qui ratione volust luptatem.</p>
                                                    <div class="author-social d-inline-flex">
                                                        <span class="d-inline-block">STAY CONNECTED:</span>
                                                        <div class="author-social-inner d-inline-flex">
                                                            <a href="https://twitter.com/" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
                                                            <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                            <a href="https://www.tumblr.com/" title="Tumblr" target="_blank"><i class="fab fa-tumblr"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- Author Box Wrap -->
                                        <div class="comments-thread w-100">
                                            <h3 class="mb-0">02 Comments</h3>
                                            <ul class="comments-list mb-0 list-unstyled w-100">
                                                <li>
                                                    <div class="comment d-flex flex-wrap pat-bg gray-layer opc8 position-relative back-blend-multiply gray-bg w-100" style="background-image: url(assets/images/pattern-bg.jpg);">
                                                        <div class="comment-img">
                                                            <img class="img-fluid w-100" src="assets/images/resources/comment-img1.jpg" alt="Comment Image 1">
                                                        </div>
                                                        <div class="comment-detail">
                                                            <h4 class="mb-0">Anthony</h4> <small class="thm-clr">AUGUST 7, 2020 AT 12:21 AM</small>
                                                            <p class="mb-0">Voluptas sit aspernatur aut odit aut fugit, sed quias consequrt magni dolores eos qui ratione volust luptatem.</p>
                                                            <a href="javascript:void(0);" title="">Reply Comment<i class="fas fa-caret-right"></i></a>
                                                        </div>
                                                    </div>
                                                    <ul class="children mb-0 list-unstyled w-100">
                                                        <li>
                                                            <div class="comment d-flex flex-wrap pat-bg gray-layer opc8 position-relative back-blend-multiply gray-bg w-100" style="background-image: url(assets/images/pattern-bg.jpg);">
                                                                <div class="comment-img">
                                                                    <img class="img-fluid w-100" src="assets/images/resources/comment-img2.jpg" alt="Comment Image 2">
                                                                </div>
                                                                <div class="comment-detail">
                                                                    <h4 class="mb-0">Lehman</h4> <small class="thm-clr">JUNE 7, 2020 AT 12:21 AM</small>
                                                                    <p class="mb-0">Voluptas sit aspernatur aut odit aut fugit, sed quias consequrt magni dolores eos qui ratione volust luptatem.</p>
                                                                    <a href="javascript:void(0);" title="">Reply Comment<i class="fas fa-caret-right"></i></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div><!-- Comments Thread -->
                                        <div class="comment-reply w-100">
                                            <h3 class="mb-0">Leave A Comment:</h3>
                                            <form class="w-100">
                                                <div class="row mrg5">
                                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                                        <input type="text" placeholder="Full Name">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12 col-lg-6">
                                                        <input type="email" placeholder="Email Address">
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <input type="text" placeholder="Subject">
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                                        <textarea placeholder="Detail"></textarea>
                                                        <button class="thm-btn thm-bg" type="submit">SUBMIT NOW<span></span><span></span><span></span><span></span></button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div><!-- Comment Reply -->
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-3">
                                    <aside class="sidebar mt-40 w-100">
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">RECENT POSTS</h3>
                                            <div class="mini-posts-wrap w-100">
                                                <div class="mini-post-box d-flex flex-wrap w-100">
                                                    <a href="blog-detail.html" title=""><img class="img-fluid w-100" src="assets/images/resources/mini-post-img1.jpg" alt="Mini Post Image 1"></a>
                                                    <div class="mini-post-info">
                                                        <span class="d-block thm-clr">Mar 20, 2020</span>
                                                        <h4 class="mb-0"><a href="blog-detail.html" title="">This is How I Relax on Lazy Sundays</a></h4>
                                                    </div>
                                                </div>
                                                <div class="mini-post-box d-flex flex-wrap w-100">
                                                    <a href="blog-detail.html" title=""><img class="img-fluid w-100" src="assets/images/resources/mini-post-img2.jpg" alt="Mini Post Image 2"></a>
                                                    <div class="mini-post-info">
                                                        <span class="d-block thm-clr">Jun 18, 2020</span>
                                                        <h4 class="mb-0"><a href="blog-detail.html" title="">Going Shopping in New Dress & a Hat</a></h4>
                                                    </div>
                                                </div>
                                                <div class="mini-post-box d-flex flex-wrap w-100">
                                                    <a href="blog-detail.html" title=""><img class="img-fluid w-100" src="assets/images/resources/mini-post-img3.jpg" alt="Mini Post Image 3"></a>
                                                    <div class="mini-post-info">
                                                        <span class="d-block thm-clr">Jul 25, 2020</span>
                                                        <h4 class="mb-0"><a href="blog-detail.html" title="">How an Island Forms in River And Stones</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">CATEGORIES</h3>
                                            <ul class="cate-list mb-0 list-unstyled w-100">
                                                <li><a href="javascript:void(0);" title="">Lifestyle</a>( 120 )</li>
                                                <li><a href="javascript:void(0);" title="">Fashion</a>( 14 )</li>
                                                <li><a href="javascript:void(0);" title="">Photography</a>( 43 )</li>
                                                <li><a href="javascript:void(0);" title="">Creative</a>( 20 )</li>
                                                <li><a href="javascript:void(0);" title="">Travel</a>( 10 )</li>
                                                <li><a href="javascript:void(0);" title="">Electronics</a>( 70 )</li>
                                            </ul>
                                        </div>
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">USEFUL LINKS</h3>
                                            <ul class="mb-0 list-unstyled w-100">
                                                <li><a href="javascript:void(0);" title="">Our Founder</a></li>
                                                <li><a href="javascript:void(0);" title="">Education</a></li>
                                                <li><a href="javascript:void(0);" title="">Entrepreneurship</a></li>
                                                <li><a href="javascript:void(0);" title="">Child Education</a></li>
                                                <li><a href="javascript:void(0);" title="">Grants</a></li>
                                            </ul>
                                        </div>
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">RECENT CAUSES</h3>
                                            <div class="mini-cause-wrap w-100">
                                                <div class="mini-cause-box position-relative w-100">
                                                    <img class="img-fluid w-100" src="assets/images/resources/mini-cause-img1.jpg" alt="Mini Cause Image 1">
                                                    <div class="mini-cause-info position-absolute">
                                                        <h4 class="mb-0"><a href="donation-detail.html" title="">Help Water Retention</a></h4>
                                                        <span class="d-block thm-clr"><i>50% of</i> $500,000 Goal</span>
                                                    </div>
                                                </div>
                                                <div class="mini-cause-box position-relative w-100">
                                                    <img class="img-fluid w-100" src="assets/images/resources/mini-cause-img2.jpg" alt="Mini Cause Image 2">
                                                    <div class="mini-cause-info position-absolute">
                                                        <h4 class="mb-0"><a href="donation-detail.html" title="">Povert People Save</a></h4>
                                                        <span class="d-block thm-clr"><i>65% of</i> $450,000 Goal</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget2 w-100">
                                            <div class="newsletter-widget text-center w-100 pat-bg thm-layer opc7 position-relative back-blend-multiply thm-bg" style="background-image: url(assets/images/pattern-bg.jpg);">
                                                <h4>Subscribe Now to Get Daily Updates.</h4>
                                                <form class="w-100">
                                                    <input type="email" placeholder="Enter your Email here">
                                                    <button class="thm-btn bg-color1" type="submit"><i class="far fa-envelope"></i>Subscribe Now<span></span><span></span><span></span><span></span></button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="widget2 w-100">
                                            <h3 class="widget-title2">INSTAGRAM</h3>
                                            <div class="insta-wrap w-100">
                                                <ul class="insta-list mb-0 d-flex flex-wrap list-unstyled w-100">
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="assets/images/resources/insta-img1.jpg" alt="Instagram Image 1"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="assets/images/resources/insta-img2.jpg" alt="Instagram Image 2"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="assets/images/resources/insta-img3.jpg" alt="Instagram Image 3"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="assets/images/resources/insta-img4.jpg" alt="Instagram Image 4"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="assets/images/resources/insta-img5.jpg" alt="Instagram Image 5"></a></li>
                                                    <li><a href="javascript:void(0);" title=""><img class="img-fluid w-100" src="assets/images/resources/insta-img6.jpg" alt="Instagram Image 6"></a></li>
                                                </ul>
                                                <div class="insta-bottom d-flex flex-wrap align-items-center justify-content-between w-100">
                                                    <div class="insta-bottom-inner">
                                                        <span class="d-block">INSTAGRAM</span>
                                                        <h5 class="mb-0">@WEBSROAD</h5>
                                                    </div>
                                                    <div class="insta-bottom-inner">
                                                        <a class="thm-btn thm-bg" href="javascript:void(0);" title="">Follow Me<span></span><span></span><span></span><span></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </aside><!-- Sidebar -->
                                </div>
                            </div>
                        </div><!-- Post Detail Wrap -->
                    </div>
                </div>
            </section>
            <footer>
                <div class="w-100 pt-100 dark-layer pb-50 opc85 position-relative">
                    <div class="fixed-bg patern-bg back-blend-multiply dark-bg" style="background-image: url(assets/images/pattern-bg.jpg);"></div>
                    <div class="container">
                        <div class="footer-data w-100">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-3">
                                    <div class="widget w-100">
                                        <div class="logo"><h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="assets/images/logo2.png" alt="Logo" srcset="assets/images/retina-logo2.png"></a></h1></div>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, coteudtu sicing elit, sed do eiusmod tempor inc dntut labore et adipi.</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-9">
                                    <div class="row justify-content-between">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <h4 class="widget-title">Information</h4>
                                                        <ul class="mb-0 list-unstyled w-100">
                                                            <li><a href="online-courses.html" title="">Online Courses</a></li>
                                                            <li><a href="audio-listening.html" title="">Audio Listening</a></li>
                                                            <li><a href="blog.html" title="">Our Blog</a></li>
                                                            <li><a href="events.html" title="">Our Events</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <h4 class="widget-title">Contact Info</h4>
                                                        <ul class="cont-info-list2 mb-0 list-unstyled w-100">
                                                            <li><i class="thm-clr">P:</i>341 22 245 225</li>
                                                            <li><i class="thm-clr">E:</i><a href="javascript:void(0);" title="">username@domain.com</a></li>
                                                            <li>425 1st Street, San Francisco, California, USA</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-lg-5">
                                            <h4 class="widget-title">Let Us Help You</h4>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <ul class="mb-0 list-unstyled w-100">
                                                            <li><a href="about.html" title="">About Maktab</a></li>
                                                            <li><a href="urgent-donation.html" title="">Urgent Donation</a></li>
                                                            <li><a href="services.html" title="">Our Services</a></li>
                                                            <li><a href="sermons.html" title="">Our Sermons</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <ul class="mb-0 list-unstyled w-100">
                                                            <li><a href="products.html" title="">Our Products</a></li>
                                                            <li><a href="scholar-style1.html" title="">Our Scholars</a></li>
                                                            <li><a href="contact.html" title="">Contact Us</a></li>
                                                            <li><a href="gallery.html" title="">Maktab Gallery</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Footer Data -->
                    </div>
                </div>
            </footer><!-- Footer -->
            <div class="bottom-bar dark-bg2 text-center w-100">
                <p class="mb-0"><a href="index.html" title="Home">Maktab</a> - Copyright 2020. Design by <a href="https://themeforest.net/user/nauthemes/portfolio" title="Nauthemes" target="_blank">Nauthemes</a></p>
            </div><!-- Bottom Bar -->
        </main><!-- Main Wrapper -->

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/counterup.min.js"></script>
        <script src="assets/js/jquery.fancybox.min.js"></script>
        <script src="assets/js/jquery.bootstrap-touchspin.min.js"></script>
        <script src="assets/js/perfect-scrollbar.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <!-- <script src="assets/js/particles.min.js"></script>
        <script src="assets/js/particle-int.js"></script> -->
        <script src="assets/js/musicplayer-min.js"></script>
        <script src="assets/js/ResizeSensor.min.js"></script>
        <script src="assets/js/theia-sticky-sidebar.min.js"></script>
        <script src="assets/js/custom-scripts.js"></script>
    </body>	
</html>