<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="icon" href="assets/images/favicon.png" sizes="35x35" type="image/png">
        <title>Maktab - The Islamic Center HTML5 Template</title>

        <link rel="stylesheet" href="assets/css/all.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="assets/css/jquery.bootstrap-touchspin.min.css">
        <link rel="stylesheet" href="assets/css/perfect-scrollbar.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <link rel="stylesheet" href="assets/css/color.css">
    </head>
    <body>
        <main>
            <div id="preloader">            
                <div class="preloader-inner">
                    <i class="preloader-icon thm-clr flaticon-kaaba"></i>
                </div>
            </div><!-- Page Loader -->
            <header class="stick style1 w-100">
                <div class="topbar bg-color1 d-flex flex-wrap justify-content-center w-100">
                    <ul class="topbar-info-list mb-0 list-unstyled d-inline-flex">
                        <li><i class="thm-clr flaticon-sun"></i>Sunrise At: <span class="thm-clr">5:05am</span></li>
                        <li><i class="thm-clr flaticon-moon"></i>Sunset At: <span class="thm-clr">7:14pm</span></li>
                    </ul>
                    <div class="social-links d-inline-flex">
                        <a href="https://twitter.com/" title="Twtiiter" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.youtube.com/" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/" title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.instagram.com/" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div><!-- Topbar -->
                <div class="logo-menu-wrap d-flex flex-wrap justify-content-between w-100">
                    <div class="logo position-relative thm-layer opc7 back-blend-multiply thm-bg" style="background-image: url(assets/images/pattern-bg.jpg);"><h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="assets/images/logo.png" alt="Logo" srcset="assets/images/retina-logo.png"></a></h1></div><!-- Logo -->
                    <nav class="d-flex flex-wrap align-items-center justify-content-center">
                        <div class="header-left">
                            <ul class="mb-0 list-unstyled d-inline-flex">
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="index.html" title="">Homepage 1</a></li>
                                        <li><a href="index2.html" title="">Homepage 2</a></li>
                                        <li><a href="index3.html" title="">Homepage 3</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Blog</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="blog.html" title="">Blog Style 1</a></li>
                                        <li><a href="blog2.html" title="">Blog Style 2</a></li>
                                        <li><a href="blog-detail.html" title="">Blog Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Scholars</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="scholar-style1.html" title="">Scholar Style 1</a></li>
                                                <li><a href="scholar-style2.html" title="">Scholar Style 2</a></li>
                                                <li><a href="scholar-detail.html" title="">Scholar Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Urgent Donation</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="urgent-donation.html" title="">Urgent Donation</a></li>
                                                <li><a href="donation-detail.html" title="">Donation Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Online Courses</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="online-courses.html" title="">Online Courses</a></li>
                                                <li><a href="online-courses-detail.html" title="">Online Courses Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="services.html" title="">Services Style 1</a></li>
                                                <li><a href="services2.html" title="">Services Style 2</a></li>
                                                <li><a href="services-detail.html" title="">Services Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="gallery.html" title="">Gallery Style 1</a></li>
                                                <li><a href="gallery2.html" title="">Gallery Style 2</a></li>
                                                <li><a href="gallery3.html" title="">Gallery Style 3</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="events.html" title="">Events</a></li>
                                                <li><a href="event-detail.html" title="">Event Detail</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Sermons</a>
                                            <ul class="mb-0 list-unstyled">
                                                <li><a href="sermons.html" title="">Sermons</a></li>
                                                <li><a href="sermons-detail.html" title="">Sermons Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="audio-listening.html" title="">Audio Listening</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Products</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="products.html" title="">Our Products</a></li>
                                        <li><a href="product-detail.html" title="">Product Detail</a></li>
                                        <li><a href="cart.html" title="">Product Cart</a></li>
                                        <li><a href="checkout.html" title="">Product Checkout</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html" title="">About Us</a></li>
                                <li><a href="contact.html" title="">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="header-right">
                            <a class="thm-btn thm-bg" href="donation-detail.html" title="">Make Donation<span></span><span></span><span></span><span></span></a>
                        </div>
                    </nav>
                </div><!-- Logo Menu Wrap -->
            </header><!-- Header -->
            <div class="sticky-menu">
                <div class="container">
                    <div class="sticky-menu-inner d-flex flex-wrap align-items-center justify-content-between w-100">
                        <div class="logo"><h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="assets/images/logo3.png" alt="Logo" srcset="assets/images/retina-logo3.png"></a></h1></div><!-- Logo -->
                        <nav class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="header-left">
                                <ul class="mb-0 list-unstyled d-inline-flex">
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li><a href="index.html" title="">Homepage 1</a></li>
                                            <li><a href="index2.html" title="">Homepage 2</a></li>
                                            <li><a href="index3.html" title="">Homepage 3</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Blog</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li><a href="blog.html" title="">Blog Style 1</a></li>
                                            <li><a href="blog2.html" title="">Blog Style 2</a></li>
                                            <li><a href="blog-detail.html" title="">Blog Detail</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Scholars</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="scholar-style1.html" title="">Scholar Style 1</a></li>
                                                    <li><a href="scholar-style2.html" title="">Scholar Style 2</a></li>
                                                    <li><a href="scholar-detail.html" title="">Scholar Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Urgent Donation</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="urgent-donation.html" title="">Urgent Donation</a></li>
                                                    <li><a href="donation-detail.html" title="">Donation Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Online Courses</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="online-courses.html" title="">Online Courses</a></li>
                                                    <li><a href="online-courses-detail.html" title="">Online Courses Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="services.html" title="">Services Style 1</a></li>
                                                    <li><a href="services2.html" title="">Services Style 2</a></li>
                                                    <li><a href="services-detail.html" title="">Services Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="gallery.html" title="">Gallery Style 1</a></li>
                                                    <li><a href="gallery2.html" title="">Gallery Style 2</a></li>
                                                    <li><a href="gallery3.html" title="">Gallery Style 3</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="events.html" title="">Events</a></li>
                                                    <li><a href="event-detail.html" title="">Event Detail</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Sermons</a>
                                                <ul class="mb-0 list-unstyled">
                                                    <li><a href="sermons.html" title="">Sermons</a></li>
                                                    <li><a href="sermons-detail.html" title="">Sermons Detail</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="audio-listening.html" title="">Audio Listening</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Products</a>
                                        <ul class="mb-0 list-unstyled">
                                            <li><a href="products.html" title="">Our Products</a></li>
                                            <li><a href="product-detail.html" title="">Product Detail</a></li>
                                            <li><a href="cart.html" title="">Product Cart</a></li>
                                            <li><a href="checkout.html" title="">Product Checkout</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html" title="">About Us</a></li>
                                    <li><a href="contact.html" title="">Contact Us</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div><!-- Sticky Menu -->
            <div class="rspn-hdr">
                <div class="rspn-mdbr">
                    <div class="rspn-scil">
                        <a href="https://twitter.com/" title="Twtiiter" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.facebook.com/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.youtube.com/" title="Youtube" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/" title="Linkedin" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <form class="rspn-srch">
                        <input type="text" placeholder="Enter Your Keyword">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="lg-mn">
                    <div class="logo"><a href="index.html" title="Home"><img src="assets/images/logo3.png" alt="Logo"></a></div>
                    <div class="rspn-cnt">
                        <span><i class="thm-clr far fa-envelope"></i><a href="javascript:void(0);" title="">info@youremailid.com</a></span>
                        <span><i class="thm-clr fas fa-phone-alt"></i>+96 125 554 24 5</span>
                    </div>
                    <span class="rspn-mnu-btn"><i class="fa fa-list-ul"></i></span>
                </div>
                <div class="rsnp-mnu">
                    <span class="rspn-mnu-cls"><i class="fa fa-times"></i></span>
                    <ul class="mb-0 list-unstyled w-100">
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Home</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="index.html" title="">Homepage 1</a></li>
                                <li><a href="index2.html" title="">Homepage 2</a></li>
                                <li><a href="index3.html" title="">Homepage 3</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Blog</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="blog.html" title="">Blog Style 1</a></li>
                                <li><a href="blog2.html" title="">Blog Style 2</a></li>
                                <li><a href="blog-detail.html" title="">Blog Detail</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Pages</a>
                            <ul class="mb-0 list-unstyled">
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Scholars</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="scholar-style1.html" title="">Scholar Style 1</a></li>
                                        <li><a href="scholar-style2.html" title="">Scholar Style 2</a></li>
                                        <li><a href="scholar-detail.html" title="">Scholar Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Urgent Donation</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="urgent-donation.html" title="">Urgent Donation</a></li>
                                        <li><a href="donation-detail.html" title="">Donation Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Online Courses</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="online-courses.html" title="">Online Courses</a></li>
                                        <li><a href="online-courses-detail.html" title="">Online Courses Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Services</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="services.html" title="">Services Style 1</a></li>
                                        <li><a href="services2.html" title="">Services Style 2</a></li>
                                        <li><a href="services-detail.html" title="">Services Detail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Gallery</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="gallery.html" title="">Gallery Style 1</a></li>
                                        <li><a href="gallery2.html" title="">Gallery Style 2</a></li>
                                        <li><a href="gallery3.html" title="">Gallery Style 3</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Sermons</a>
                                    <ul class="mb-0 list-unstyled">
                                        <li><a href="sermons.html" title="">Sermons</a></li>
                                        <li><a href="sermons-detail.html" title="">Sermons Detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="audio-listening.html" title="">Audio Listening</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Our Events</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="events.html" title="">Events</a></li>
                                <li><a href="event-detail.html" title="">Event Detail</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0);" title="">Products</a>
                            <ul class="mb-0 list-unstyled">
                                <li><a href="products.html" title="">Our Products</a></li>
                                <li><a href="product-detail.html" title="">Product Detail</a></li>
                                <li><a href="cart.html" title="">Product Cart</a></li>
                                <li><a href="checkout.html" title="">Product Checkout</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html" title="">About Us</a></li>
                        <li><a href="contact.html" title="">Contact Us</a></li>
                    </ul>
                </div><!-- Responsive Menu -->
            </div><!-- Responsive Header -->
            <section>
                <div class="w-100 pt-80 black-layer pb-70 opc65 position-relative">
                    <div class="fixed-bg" style="background-image: url(assets/images/page-title-bg.jpg);"></div>
                    <div class="container">
                        <div class="page-title-wrap text-center w-100">
                            <div class="page-title-inner d-inline-block">
                                <h1 class="mb-0">Our Sermons</h1>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="index.html" title="Home">Maktab - Home</a></li>
                                    <li class="breadcrumb-item active">Sermons</li>
                                </ol>
                            </div>
                        </div><!-- Page Title Wrap -->
                    </div>
                </div>
            </section>
            <section>
                <div class="w-100 pt-120 pb-280 position-relative">
                    <img class="sec-botm-rgt-mckp img-fluid position-absolute" src="assets/images/sec-botm-mckp.png" alt="Sec Bottom Mockup">
                    <div class="container">
                        <div class="sermon-wrap wide-sec">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-4">
                                    <div class="sermon-box w-100">
                                        <div class="sermon-info w-100 position-relative pat-bg thm-layer opc65 back-blend-multiply thm-bg" style="background-image: url(assets/images/pattern-bg.jpg);">
                                            <h3 class="mb-0"><a href="sermons-detail.html" title="">About The Month Muharram</a></h3>
                                            <p class="mb-0">Alienum phaedrum torquatos nec eu, vis detr in mei. Mei an periculaeuripidis.</p>
                                            <div class="sermon-btns d-inline-flex">
                                                <a href="https://www.youtube.com/embed/WxuHBTES2-s" data-fancybox title=""><i class="fas fa-video"></i></a>
                                                <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111725286&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" data-fancybox title=""><i class="fas fa-volume-up"></i></a>
                                                <a href="assets/pdf/book.pdf" title="" target="_blank"><i class="far fa-file"></i></a>
                                            </div>
                                            <span class="position-absolute bg-color1">Speaker Hadith Lessons</span>
                                        </div>
                                        <div class="sermon-img overflow-hidden position-relative w-100">
                                            <a href="sermons-detail.html" title=""><img class="img-fluid w-100" src="assets/images/resources/sermon-img1-1.jpg" alt="Sermon Image 1"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-4">
                                    <div class="sermon-box w-100">
                                        <div class="sermon-info w-100 position-relative pat-bg thm-layer opc65 back-blend-multiply thm-bg" style="background-image: url(assets/images/pattern-bg.jpg);">
                                            <h3 class="mb-0"><a href="sermons-detail.html" title="">Amble through Surahs of...</a></h3>
                                            <p class="mb-0">Alienum phaedrum torquatos nec eu, vis detr in mei. Mei an periculaeuripidis.</p>
                                            <div class="sermon-btns d-inline-flex">
                                                <a href="https://www.youtube.com/embed/WxuHBTES2-s" data-fancybox title=""><i class="fas fa-video"></i></a>
                                                <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111725286&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" data-fancybox title=""><i class="fas fa-volume-up"></i></a>
                                                <a href="assets/pdf/book.pdf" title="" target="_blank"><i class="far fa-file"></i></a>
                                            </div>
                                            <span class="position-absolute bg-color1">Speaker Hadith Lessons</span>
                                        </div>
                                        <div class="sermon-img overflow-hidden position-relative w-100">
                                            <a href="sermons-detail.html" title=""><img class="img-fluid w-100" src="assets/images/resources/sermon-img1-2.jpg" alt="Sermon Image 2"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-4">
                                    <div class="sermon-box w-100">
                                        <div class="sermon-info w-100 position-relative pat-bg thm-layer opc65 back-blend-multiply thm-bg" style="background-image: url(assets/images/pattern-bg.jpg);">
                                            <h3 class="mb-0"><a href="sermons-detail.html" title="">Lessons Learned By A...</a></h3>
                                            <p class="mb-0">Alienum phaedrum torquatos nec eu, vis detr in mei. Mei an periculaeuripidis.</p>
                                            <div class="sermon-btns d-inline-flex">
                                                <a href="https://www.youtube.com/embed/WxuHBTES2-s" data-fancybox title=""><i class="fas fa-video"></i></a>
                                                <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111725286&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" data-fancybox title=""><i class="fas fa-volume-up"></i></a>
                                                <a href="assets/pdf/book.pdf" title="" target="_blank"><i class="far fa-file"></i></a>
                                            </div>
                                            <span class="position-absolute bg-color1">Speaker Hadith Lessons</span>
                                        </div>
                                        <div class="sermon-img overflow-hidden position-relative w-100">
                                            <a href="sermons-detail.html" title=""><img class="img-fluid w-100" src="assets/images/resources/sermon-img1-3.jpg" alt="Sermon Image 3"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-4">
                                    <div class="sermon-box w-100">
                                        <div class="sermon-info w-100 position-relative pat-bg thm-layer opc65 back-blend-multiply thm-bg" style="background-image: url(assets/images/pattern-bg.jpg);">
                                            <h3 class="mb-0"><a href="sermons-detail.html" title="">The Last Book – Islamic</a></h3>
                                            <p class="mb-0">Alienum phaedrum torquatos nec eu, vis detr in mei. Mei an periculaeuripidis.</p>
                                            <div class="sermon-btns d-inline-flex">
                                                <a href="https://www.youtube.com/embed/WxuHBTES2-s" data-fancybox title=""><i class="fas fa-video"></i></a>
                                                <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111725286&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" data-fancybox title=""><i class="fas fa-volume-up"></i></a>
                                                <a href="assets/pdf/book.pdf" title="" target="_blank"><i class="far fa-file"></i></a>
                                            </div>
                                            <span class="position-absolute bg-color1">Speaker Hadith Lessons</span>
                                        </div>
                                        <div class="sermon-img overflow-hidden position-relative w-100">
                                            <a href="sermons-detail.html" title=""><img class="img-fluid w-100" src="assets/images/resources/sermon-img1-4.jpg" alt="Sermon Image 4"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-4">
                                    <div class="sermon-box w-100">
                                        <div class="sermon-info w-100 position-relative pat-bg thm-layer opc65 back-blend-multiply thm-bg" style="background-image: url(assets/images/pattern-bg.jpg);">
                                            <h3 class="mb-0"><a href="sermons-detail.html" title="">Khadija bint Khuwaylid...</a></h3>
                                            <p class="mb-0">Alienum phaedrum torquatos nec eu, vis detr in mei. Mei an periculaeuripidis.</p>
                                            <div class="sermon-btns d-inline-flex">
                                                <a href="https://www.youtube.com/embed/WxuHBTES2-s" data-fancybox title=""><i class="fas fa-video"></i></a>
                                                <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111725286&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" data-fancybox title=""><i class="fas fa-volume-up"></i></a>
                                                <a href="assets/pdf/book.pdf" title="" target="_blank"><i class="far fa-file"></i></a>
                                            </div>
                                            <span class="position-absolute bg-color1">Speaker Hadith Lessons</span>
                                        </div>
                                        <div class="sermon-img overflow-hidden position-relative w-100">
                                            <a href="sermons-detail.html" title=""><img class="img-fluid w-100" src="assets/images/resources/sermon-img1-5.jpg" alt="Sermon Image 5"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-4">
                                    <div class="sermon-box w-100">
                                        <div class="sermon-info w-100 position-relative pat-bg thm-layer opc65 back-blend-multiply thm-bg" style="background-image: url(assets/images/pattern-bg.jpg);">
                                            <h3 class="mb-0"><a href="sermons-detail.html" title="">Slice Of The Crescent</a></h3>
                                            <p class="mb-0">Alienum phaedrum torquatos nec eu, vis detr in mei. Mei an periculaeuripidis.</p>
                                            <div class="sermon-btns d-inline-flex">
                                                <a href="https://www.youtube.com/embed/WxuHBTES2-s" data-fancybox title=""><i class="fas fa-video"></i></a>
                                                <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/111725286&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" data-fancybox title=""><i class="fas fa-volume-up"></i></a>
                                                <a href="assets/pdf/book.pdf" title="" target="_blank"><i class="far fa-file"></i></a>
                                            </div>
                                            <span class="position-absolute bg-color1">Speaker Hadith Lessons</span>
                                        </div>
                                        <div class="sermon-img overflow-hidden position-relative w-100">
                                            <a href="sermons-detail.html" title=""><img class="img-fluid w-100" src="assets/images/resources/sermon-img1-6.jpg" alt="Sermon Image 6"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Sermons Wrap -->
                        <div class="pagination-wrap mt-80 d-flex flex-wrap justify-content-center text-center w-100">
                            <ul class="pagination mb-0">
                                <li class="page-item prev"><a class="page-link" href="javascript:void(0);" title=""><i class="fas fa-long-arrow-alt-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">1</a></li>
                                <li class="page-item active"><a class="page-link" href="javascript:void(0);" title="">2</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">3</a></li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">4</a></li>
                                <li class="page-item pg-rang">...........</li>
                                <li class="page-item"><a class="page-link" href="javascript:void(0);" title="">24</a></li>
                                <li class="page-item next"><a class="page-link" href="javascript:void(0);" title=""><i class="fas fa-long-arrow-alt-right"></i></a></li>
                            </ul>
                        </div><!-- Pagination Wrap -->
                    </div>
                </div>
            </section>
            <footer>
                <div class="w-100 pt-100 dark-layer pb-50 opc85 position-relative">
                    <div class="fixed-bg patern-bg back-blend-multiply dark-bg" style="background-image: url(assets/images/pattern-bg.jpg);"></div>
                    <div class="container">
                        <div class="footer-data w-100">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-lg-3">
                                    <div class="widget w-100">
                                        <div class="logo"><h1 class="mb-0"><a href="index.html" title="Home"><img class="img-fluid" src="assets/images/logo2.png" alt="Logo" srcset="assets/images/retina-logo2.png"></a></h1></div>
                                        <p class="mb-0">Lorem ipsum dolor sit amet, coteudtu sicing elit, sed do eiusmod tempor inc dntut labore et adipi.</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-lg-9">
                                    <div class="row justify-content-between">
                                        <div class="col-md-6 col-sm-6 col-lg-6">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <h4 class="widget-title">Information</h4>
                                                        <ul class="mb-0 list-unstyled w-100">
                                                            <li><a href="online-courses.html" title="">Online Courses</a></li>
                                                            <li><a href="audio-listening.html" title="">Audio Listening</a></li>
                                                            <li><a href="blog.html" title="">Our Blog</a></li>
                                                            <li><a href="events.html" title="">Our Events</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <h4 class="widget-title">Contact Info</h4>
                                                        <ul class="cont-info-list2 mb-0 list-unstyled w-100">
                                                            <li><i class="thm-clr">P:</i>341 22 245 225</li>
                                                            <li><i class="thm-clr">E:</i><a href="javascript:void(0);" title="">username@domain.com</a></li>
                                                            <li>425 1st Street, San Francisco, California, USA</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-6 col-lg-5">
                                            <h4 class="widget-title">Let Us Help You</h4>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <ul class="mb-0 list-unstyled w-100">
                                                            <li><a href="about.html" title="">About Maktab</a></li>
                                                            <li><a href="urgent-donation.html" title="">Urgent Donation</a></li>
                                                            <li><a href="services.html" title="">Our Services</a></li>
                                                            <li><a href="sermons.html" title="">Our Sermons</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <div class="widget w-100">
                                                        <ul class="mb-0 list-unstyled w-100">
                                                            <li><a href="products.html" title="">Our Products</a></li>
                                                            <li><a href="scholar-style1.html" title="">Our Scholars</a></li>
                                                            <li><a href="contact.html" title="">Contact Us</a></li>
                                                            <li><a href="gallery.html" title="">Maktab Gallery</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Footer Data -->
                    </div>
                </div>
            </footer><!-- Footer -->
            <div class="bottom-bar dark-bg2 text-center w-100">
                <p class="mb-0"><a href="index.html" title="Home">Maktab</a> - Copyright 2020. Design by <a href="https://themeforest.net/user/nauthemes/portfolio" title="Nauthemes" target="_blank">Nauthemes</a></p>
            </div><!-- Bottom Bar -->
        </main><!-- Main Wrapper -->

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/counterup.min.js"></script>
        <script src="assets/js/jquery.fancybox.min.js"></script>
        <script src="assets/js/jquery.bootstrap-touchspin.min.js"></script>
        <script src="assets/js/perfect-scrollbar.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <!-- <script src="assets/js/particles.min.js"></script>
        <script src="assets/js/particle-int.js"></script> -->
        <script src="assets/js/musicplayer-min.js"></script>
        <script src="assets/js/custom-scripts.js"></script>
    </body>	
</html>